.header {
  display: flex;
  align-items: center;

  img {
    height: 60px;
    margin-right: var(--padding-md);
  }
}

.disciplines {
  flex-grow: 1;
  overflow-y: auto;
}

.toggle {
  margin-left: var(--padding-xl);
  margin-right: var(--padding-xl);
}
