:root {
  --white: rgb(250, 250, 250);
  --grey: rgb(113, 113, 122);
  --grey-dark: rgb(228, 228, 231);
  --black: rgb(9, 9, 11);
  --padding-xs: 0.25rem;
  --padding-sm: 0.5rem;
  --padding-md: 0.75rem;
  --padding-lg: 1rem;
  --padding-xl: 1.5rem;
  --border-radius: 0.5rem;
  --transition-duration: 0.15s;
  --disabled-opacity: 0.6;
  --hover-opacity: 0.8;
  --font-size-sm: 0.9rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.5rem;
  --halo-box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px,
    rgb(161, 161, 170) 0px 0px 0px 1px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  padding: var(--padding-lg);
  /* Alternative fonts: Montserrat */
  font-family: "Questrial", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: var(--font-size-sm);
}

h1 {
  margin: 0;
  font-weight: 700;
  font-size: var(--font-size-lg);
}

h2 {
  margin: 0;
  font-weight: 700;
  font-size: var(--font-size-md);
}

p {
  margin-top: var(--padding-xs);
  margin-bottom: var(--padding-xs);
  color: var(--grey);
  font-size: var(--font-size-sm);
}

label {
  display: block;
  margin-top: var(--padding-lg);
  margin-bottom: var(--padding-sm);
}

mark {
  color: var(--foreground);
  background-color: transparent;
  text-decoration: underline;
  text-underline-offset: 2px;
}
