.name {
  padding-left: var(--padding-sm);
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: var(--padding-lg);
  gap: 30%;

  button {
    flex-grow: 1;
  }
}
