.actions {
  display: flex;
  align-items: center;
  gap: var(--padding-md);
  margin-top: var(--padding-lg);

  .search {
    flex-grow: 1;
  }

  .new {
    padding: var(--padding-lg);
  }
}

.disciplines {
  flex-grow: 1;
  overflow-y: auto;
  margin-top: var(--padding-sm);
  margin-bottom: var(--padding-sm);
}

.buttons {
  display: flex;
  gap: var(--padding-lg);

  button {
    flex-grow: 1;
  }
}
