.header {
  display: flex;
  align-items: center;
  margin-top: var(--padding-lg);
  gap: var(--padding-md);
  justify-content: space-between;

  .spacer {
    width: 24px;
  }
}

.form {
  flex-grow: 1;

  .intervalsDescription {
    margin-top: var(--padding-sm);
  }
}
