.header {
  display: flex;
  align-items: center;
  margin-top: var(--padding-lg);
  gap: var(--padding-md);
}

.form {
  flex-grow: 1;

  .intervalsDescription {
    margin-top: var(--padding-sm);
  }
}
