.button {
  padding: var(--padding-md);
  border-width: 0;
  border-radius: var(--border-radius);
  font-size: var(--font-size-sm);
  color: var(--white);
  background-color: var(--black);
  transition: opacity var(--transition-duration);
  font-family: inherit;
  font-weight: inherit;
  line-height: normal;
  outline: none;

  &:has(svg) {
    padding: 0;
    color: var(--black);
    background-color: transparent;
  }

  svg {
    height: 24px;
  }

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    pointer-events: none;
    opacity: var(--disabled-opacity);
  }

  &:hover,
  &:focus {
    opacity: var(--hover-opacity);
  }
}
