.discipline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-sm);

  .detailsContainer {
    min-width: 0;
    margin-right: var(--padding-lg);

    .details {
      display: flex;
      align-items: center;

      .name {
        padding-top: 2px;
        font-weight: 600;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .code {
        margin-left: var(--padding-sm);
        padding-left: var(--padding-sm);
        padding-right: var(--padding-md);
        padding-top: var(--padding-xs);
        padding-bottom: calc(var(--padding-xs) - 3px);
        border-color: var(--grey-dark);
        border-width: 1px;
        border-radius: var(--border-radius);
      }
    }

    .intervals {
      margin-top: var(--padding-xs);
      color: var(--grey);
    }
  }

  .buttons {
    display: flex;
    gap: var(--padding-md);
  }
}
